.widget_nav_menu,
.widget_meta,
.widget_pages,
.widget_archive,
.widget_categories,
// .wp-block-page-list,
.wp-block-archives,
.wp-block-categories {
    ul {
        list-style: none;
        padding: 0;
        margin: 0 0 0 0;
    }

    a {
        display: block;
        background-color: $white-color;
        margin: 0 0 18px;
        padding: 0 0 18px;
        font-size: 16px;
        line-height: 1.313;
        color: $title-color;
        transition: 0.4s all ease;
        border-bottom: 1px solid $border-color;
    }

    li {
        display: block;
        position: relative;

        margin-bottom: 18px;

        >span {
            color: $title-color;
            text-align: center;
            position: absolute;
            right: 0;
            top: -2px;
            transition: all ease 0.4s;
            pointer-events: none;
            min-width: 20px;
            text-align: right;
        }
    }

    .menu,
    >ul {
        margin-top: -0.3em;
        margin-bottom: -0.3em;

        >li {
            &:last-child {
                border-bottom: 0;
                margin-bottom: 0;

                >a {
                    margin-bottom: 0;
                    padding-bottom: 0;
                    border-bottom: 0;
                }
            }
        }
    }

    a {
        &:hover {
            color: $theme-color;

            ~span {
                color: $theme-color;
            }
        }
    }

    .sub-menu,
    .children {
        margin-left: 10px;
    }
}

.wp-block-archives,
.wp-block-page-list,
.wp-block-categories {
    list-style: none;
    padding: 0;
    margin: 0;

    >li {
        &:last-child {
            margin-bottom: 0;

            >a {
                border-bottom: none;
                padding-bottom: 0;
                margin-bottom: 0;
            }
        }
    }
}

.widget_nav_menu,
.widget_meta,
.widget_pages {
    a {
        padding-right: 20px;
    }
}

.widget_nav_menu {
    .sub-menu {
        margin-left: 10px;
    }
}

.wp-block-archives {
    list-style: none;
    margin: 0;
    padding: 0;

    a:not(:hover) {
        color: inherit;
    }
}

.th-blog ul.wp-block-archives li {
    margin: 5px 0;
}